// ==========================================================================
// Apoiadores.
// ==========================================================================

// Encapsulador.
.landing-supporters .landing-navigation-title {
  padding: 20px 20px 30px;
}

// Apoiadores.
.supporters {
  padding: 40px 20px;
  overflow: hidden;
}