<%#
  Parceiros.
%>

<div class="landing-supporters">
  <h2 class="landing-navigation-title">Apoiadores</h2>
  <div class="supporters">
    <%= link_to "EMC Corporation",
      "http://www.emc.com/",
      class: "supporter sprite-supporter-emc text-replacement",
      title: "EMC Corporation",
      alt: "EMC Corporation",
      target: "_blank"
    %>
  </div>
</div>